.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Ignore build artifacts
.build/
*.xcodeproj/
*.xcworkspace/
*.swp
*.lock
*.DS_Store
.swiftpm
Package.resoved